# Firebase
.firebase/
firebase-debug.log
.firebaserc.bak

# Data backup lokal - JANGAN dipush ke GitHub
wifipay-data.json

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
